//.................................................................................................
//...................................................................VVii..........................
//.FFFFFFFFFF............lll........ddd..................rrVV....VVVVVVii..........................
//.FFFFFFFFFF............lll........ddd..................rrVV....VVVVVVii..........................
//.FFFFFFFFFF............lll........ddd..................rrVVV...VVVVVVii..........................
//.FFFF........ooooooo...lll...dddddddd...eeeeee...rrrrrr.rVVV..VVVV.VVii..ieeeeee.eeew..wwww.www..
//.FFFF.......ooooooooo..lll..ddddddddd..eeeeeeee..rrrrrr.rVVV..VVVV.VVii..ieeeeeeeeeew..wwww.www..
//.FFFFFFFFF.Foooooooooo.lll.lddddddddd.deeeeeeeee.rrrrrr.rVVVV.VVVV.VVii.iieeeeeee.eewwwwwww.www..
//.FFFFFFFFF.Fooo...oooo.lll.lddd..dddd.deee..eeee.rrrr....VVVVVVVV..VVii.iiee..eeeeeewwwwwww.www..
//.FFFFFFFFF.Fooo...oooo.lll.lddd...ddd.deeeeeeeee.rrr.....VVVVVVVV..VVii.iieeeeeeeeeewwwwwwwwwww..
//.FFFF......Fooo...oooo.lll.lddd...ddd.deeeeeeeee.rrr......VVVVVVV..VVii.iieeeeeeee.ewwwwwwwwwww..
//.FFFF......Fooo...oooo.lll.lddd..dddd.deee.......rrr......VVVVVV...VVii.iiee.......ewwwwwwwwww...
//.FFFF......Foooooooooo.lll.lddddddddd.deeeeeeeee.rrr......VVVVVV...VVii.iieeeeeeee.ewwww.wwwww...
//.FFFF.......ooooooooo..lll..ddddddddd.deeeeeeee..rrr.......VVVVV...VVii.iieeeeeee..ewwww.wwwww...
//.FFFF........ooooooo...lll..ddddddddd..eeeeeeee..rrr.......VVVV....VVii..ieeeeeee...wwww.wwwww...
//..............ooooo...........ddd........eeee..............................eeee..................
//.................................................................................................
#folder-view-all {
  padding: 2rem;
  width: 1000px;
}

.card {
  background: gray;
}
